.message-card-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    padding: 0 20px;

    &.me {
        justify-content: flex-end !important;
    }

    .message-card {
        max-width: 80%;
        width: fit-content;
        padding: 10px 15px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0px 2px 6px #00000052;
        text-align: right;

        &.me {
            background-color: #d5ddf9 !important;
        }

        &--body {
            &--text {
                margin: 7px 0;
                overflow-wrap: anywhere;
            }

            &--ts {
                width: 100%;
                text-align: left;
            }
        }
    }
}
